<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="4">
	<parameter name="selenium.host" value="http://172.16.21.110/" />
  	<parameter name="selenium.port" value="4444" />
 	<parameter name="browser" value="firefox" />
  <test name="XEMT tests">
    <classes>
      <class name="xeMt.ID0001_XeMtPersonal"/>
      <class name="xeMt.ID0002_XeMtBusiness"/>
      <class name="xeMt.ID0003_XemtBusinessenquiry"/>
      <class name="xeMt.ID0004_XemtPersonalLastTabs"/> 
      <class name="xeMt.ID0005_XemtBusinessLastTabs"/> 
      <class name="xeMt.ID0006_RemoveRequestDemo"/> 
      <class name="xeMt.ID0007_RiaPage"/> 
    </classes>
  </test> <!-- Test -->
  <test name="Xe General">
    <classes>
    	<class name="xe.com.ID0001_RemoveBetaTest"/>
        <class name="xe.com.ID0003_FooterHeader"/>
        <class name="xe.com.ID0006_LoadToolsandServiceBoxes"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
