<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="selenium.host" value="http://172.16.21.110/" />
  	<parameter name="selenium.port" value="4444" />
 	<parameter name="browser" value="firefox" />
  <test name="XEMT tests">
    <classes>
      <class name="XeMt.ID0001_XeMtPersonal"/>
      <class name="XeMt.ID0002_XeMtBusiness"/>
      <class name="XeMt.ID0004_XemtPersonalLastTabs"/> 
      <class name="XeMt.ID0005_XemtBusinessLastTabs"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
